#head{
   width:100%;
   height:60px;
   text-align: center;
   background-color:white;
   color: black;
   margin-top:9px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14px;
   font-weight: lighter;
  
}
.javelin1{
   width:70px;
   height:15px;
}
.burger1{
   border-radius: 20px;
   width:45vw;
   margin-left: 40px;
   margin-top: 20px;
   clear:both;
}
.container1{
   margin-top: 200px;
   width:450px;
   float:right;
   margin-right:250px;
   text-align: left;
}
.menuabout{
   padding:10px;
   background-color: black;
   color:white;
   border-radius: 10px;
   height: 20px;
   width: 80px;
}
h2{
   font-size: 50px;
   font-weight: 700;
}

#para1{
color:grey;

}
#para2{
   font-size: 20px;
   font-weight: 600;
}

